.container {
  height: 100vw;
  padding: 20px;
  background: rgb(172, 211, 250);
  color: #171212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headlinePrimary {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

.searchForm {
  padding: 10px 0 20px 0;
  display: flex;
  margin: 0 auto; 
  width:380px;
  justify-content: center;
}

.center{
  text-align: center;
}
.label {
  font-size: 24px;
  margin-right: 5px;
}

.input {
  border: none;
  border-bottom: 1px solid #171212;
  background-color: transparent;
  font-size: 24px;
  margin-right: 5px;
}

.button {
  background: transparent;
  border: 1px solid #171212;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.button:hover {
  background: #171212;
  color: #ffffff;
}

.buttonSmall {
  padding: 5px;
}

.buttonLarge {
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li{
  margin-bottom: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.padding{
  padding-left: 5px;
  padding-right: 5px;
}

.image {
  max-width: 350px;
  max-height: 400px;
}

@media screen and (max-width: 992px) {
  .container {
    background-color: lightblue;
  }
  .input{
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    background-color: #f0eebd;
  }
  .input{
    font-size: 10px;
  }
}